@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans&family=Raleway&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  width: 104px;
  height: 41px;
  left: 60px;
  top: 34px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo img {
  top: 10px;
  position: absolute;
  max-width: 104px;
  height: 41px;
  left: 6px;
  top: -25px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: #e50105;
  height: 8vh;
}

main {
  background: url("/assets/img/home.png") no-repeat center center;
  background-size: cover;
  height: 92vh;
  padding-top: 100px;
  width: 100%;
  right: 0;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.title-home {
  position: absolute;
  height: 41px;
  left: 200px;
  top: 510px;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.subtitle-home {
  position: absolute;
  width: 212px;
  height: 40px;
  left: 1090px;
  top: 230px;
  font-family: 'Noah';
  font-size: 18px;
  color: #ffffff;
}

.story-section {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 786px;
  background: #242424;
}

.story-subtitle {
  position: absolute;
  width: 952px;
  height: 597px;
  left: 66px;
  top: 156px;
  font-family: 'Code Bold';
  font-style: oblique;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  padding: 0 0;
}

.story-img {
  position: absolute;
  left: 1065.24px;
  top: 164px;
  padding: 0 0;
}

.story-img img {
  left: 300px;
  width: 358.72px;
  height: 257.49px;
  filter: drop-shadow(0px 0px 5px #b09d9d);
}

.group-section {
  position: absolute;
  width: 100%;
  height: 1969px;
  left: 0px;
  top: 1386px;
  background: #000000;
}

.group-title {
  position: absolute;
  height: 42px;
  left: 66px;
  top: 42px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  color: #EB0003;
}

.group-subtitle {
  font-size: 20px;
  line-height: 33px;
  width: 200px;
  height: 200px;
  font-family: 'IBM Plex Mono', monospace;
}

.group-subtitle span {
  color: #EB0003;
  font-size: 45px;
}


.group-subtitle-1 {
  position: relative;
  color: #ffffff;
  left: 66px;
  top: 178px;
}

.group-subtitle-2 {
  position: relative;
  color: #ffffff;
  left: 420px;
  top: -68px;
}

.group-subtitle-3 {
  position: relative;
  color: #ffffff;
  left: 806px;
  top: -437px;
}

.group-description {
  font-size: 18px;
  width: 360px;
  height: 130px;
  left: 920px;
  top: 3049px;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
}

.group-description-1 {
  position: relative;
  color: #ffffff;
  left: 66px;
  top: -105px;
}

.group-description-2 {
  position: relative;
  color: #ffffff;
  left: 1044px;
  top: -475px;
}


.imagem-vocalist {
  position: absolute;
  display: flex;
  top: 775px;
  left: 934px;
  max-width: 50px;
}

.imagem-vocalist img {
  border-radius: 50%;
  height: 250px;

}

.vocalist-description {
  position: absolute;
  width: 402px;
  height: 150px;
  left: 813px;
  top: 1162px;
  line-height: 66px;
}

.vocalist-description h2 {
  font-size: 50px;
}

.imagem-guitar-player img {
  position: absolute;
  width: 322px;
  height: 253px;
  left: 66px;
  transform: rotate(353deg);
}

.imagem-guitar-player {
  position: absolute;
  top: 1086px;
}

.group-description-3 {
  position: relative;
  color: #ffffff;
  left: 66px;
  top: 380px;
  font-family: 'IBM Plex Mono', monospace;
}

.lightning {
  position: absolute;
  background: #EB0003;
  width: 100%;
  height: 1000px;
  top: 3355px;
}

.lightning img {
  position: absolute;
  width: 350px;
  left: 573px;
  top: 15px;
}

.lightning-description1 {
  position: absolute;
  color: #ffffff;
  top: 3355px;
  left: 66;
}

.lightning-description1 {
  position: absolute;
  color: #EB0003;
  left: 550px;
  top: 20px;
  width: 455px;
  height: 85px;
  font-size: 35px;
  font-family: 'IBM Plex Mono', monospace;
}

.lightning-description1 h2 {
  user-select: none;
}

.lightning-description2 {
  position: absolute;
  color: #ffffff;
  left: -173px;
  top: 275px;
  width: 769px;
  height: 175px;
  font-size: 35px;
  font-family: 'IBM Plex Mono', monospace;
}

.discographi {
  position: absolute;
  width: 100%;
  height: 3035px;
  top: 4355px;
  background: #000000;
}

.discographi-title {
  margin-top: 10px;
  position: absolute;
  margin-top: 42px;
  left: 66px;
  font-size: 20px;
  line-height: 33px;
  width: 200px;
  height: 200px;
  color: #EB0003;
  font-family: 'IBM Plex Mono', monospace;
}


.discographi-text1 {
  position: absolute;
  color: #ffffff;
  top: 145px;
  left: 66px;
  width: 288px;
  font-size: 28px;
  font-family: 'IBM Plex Mono', monospace;
}

.discographi-text1 span {
  color: #EB0003;
  font-family: 'IBM Plex Mono', monospace;
}

.discographi-text2 {
  position: absolute;
  color: #ffffff;
  top: 505px;
  left: 66px;
  width: 288px;
  font-size: 28px;
  font-family: 'IBM Plex Mono', monospace;
}

.discographi-text2 span {
  color: #EB0003;
  font-family: 'IBM Plex Mono', monospace;
}


.cd {
  position: absolute;
  margin-top: 226px;
  left: 509px;
}

.description-cd {
  position: absolute;
  font-size: 20px;
  left: 961px;
  line-height: 33px;
  top: 150px;
  width: 220px;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
}


.cd1 {
  position: absolute;
  width: 206.63px;
  height: 204.63x;
  left: 66px;
  top: 1322px;
  transform: rotate(-5deg);
}

.cd2 {
  position: absolute;
  width: 206.63px;
  height: 204.63x;
  left: 341.84px;
  top: 1322px;
}

.cd3 {
  position: absolute;
  width: 206.63px;
  height: 204.63x;
  left: 673.56px;
  top: 1322px;
  transform: rotate(5deg);
}

.cd4 {
  position: absolute;
  width: 206.63px;
  height: 204.63x;
  left: 956.84px;
  top: 1334px;
  transform: rotate(-7deg);
}

.legendary-description {
  position: absolute;
  color: #ffffff;
  top: 1748px;
  left: 471px;
  width: 588px;
  font-size: 28px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

.legendary-description span {
  color: #EB0003;
  font-family: 'IBM Plex Mono', monospace;
}

.guitar {
  position: absolute;
  width: 0;
  height: 0;
  left: 66px;
  top: 2094px;
}

.vinyl-disc {
  position: absolute;
  width: 0;
  height: 0;
  left: 923px;
  top: 2412px;
  filter: drop-shadow(0px 0px 5px #f50000)
}

.cd5 {
  position: absolute;
  left: 999px;
  top: 2493px;
}

.cd5 img {
  border-radius: 50%;
}

.hits {
  position: absolute;
  width: 100%;
  height: 3055px;
  top: 7252px;
  background: #EB0003;
}

.hits-description {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 150px;
  left: 471px;
  width: 583px;
  font-size: 53px;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}

.hits-description span {
  color: #000000;
}

.guitar-red {
  text-align: center;
  margin-top: 55px;
}

.band1 img {
  position: absolute;
  left: -397px;
  top: 1955px;
  height: 200px;
  transform: rotate(11deg);
  filter: drop-shadow(0px 0px 5px #000000);
}

.band2 img {
  position: absolute;
  left: 21px;
  top: 2245px;
  height: 200px;
  transform: rotate(343deg);
  filter: drop-shadow(0px 0px 5px #000000);
}


.band3 img {
  position: absolute;
  left: -397px;
  top: 2533px;
  height: 200px;
  transform: rotate(3deg);
  filter: drop-shadow(0px 0px 5px #000000);
}


/* Media player */

.player {
  position: absolute;
  width: 450px;
  height: 660px;
  left: 929px;
  top: 2242px;
  background: rgb(2, 2, 2);
  border-radius: 10%;
}

.player h1 {
  color: rgb(249, 249, 249);
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.player main {
  background-color: #ffffff;
  border-radius: 100%;
}

.midia-player {
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  margin-top: 30px;
  margin-left: 55px;
  border: 50px;
}

.circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 322px;
  top: 135px;
}

.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 322px;
  top: 237px;
}

.circle3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 322px;
  top: 335px;
}

.circle4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 322px;
  top: 435px;
}

.circle5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: 322px;
  top: 535px;
}




.triangle1 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ec0b0b;
  position: absolute;
  left: 340px;
  top: 145px;
}

.triangle2 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ec0b0b;
  position: absolute;
  left: 340px;
  top: 246px;
}

.triangle3 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ec0b0b;
  position: absolute;
  left: 340px;
  top: 345px;
}

.triangle4 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ec0b0b;
  position: absolute;
  left: 340px;
  top: 445px;
}

.triangle5 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ec0b0b;
  position: absolute;
  left: 340px;
  top: 545px;
}



#awords-main {
  position: absolute;
  width: 100%;
  height: 983px;
  top: 10307px;
  background: #000000;
}

.awords-description h1 {
  margin: 50px 66px;
  color: #EB0003;
  font-family: 'IBM Plex Mono', monospace;
}

.awords-description span {
  color: #EB0003;
}

.awords-description h2 {
  position: absolute;
  color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
}

.awords-description1 {
  left: 66px;
  width: 208px;
  font-size: 30px;
}

.awords-description2 {
  width: 208px;
  font-size: 30px;
  left: 388px;
  top: 172px;
}

.awords-description3 {
  width: 208px;
  font-size: 30px;
  left: 702px;
  top: 140px;
}

.awords-description p {
  position: absolute;
  font-size: 15px;
  line-height: 33px;
  width: 500px;
  height: 200px;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
}

.awords-paragraph1 {
  top: 745px;
  left: 66px;
}

.awords-paragraph2 {
  top: 745px;
  left: 930px;
}

.grammy img {
  position: absolute;
  border-radius: 50%;
  left: 990px;
  top: 146px;
}


.footer {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 11290px;
  background: #242424;
}

.logo-red {
  flex-direction: column;
  max-width: 104px;
  height: 41px;
  left: 49px;
  top: 24px;
  filter: drop-shadow(0px 0px 5px #EB0003);
}

.footer__copy {
  text-align: end;
  color: #ff0000;
}

.footer-list {
  list-style: none;
  display: flex;
}

.footer-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: #242424;
  ;

}

/* Linhas */

.group-subtitle-1::after {
  content: '';
  position: absolute;
  display: flex;
  width: 342px;
  height: -21px;
  left: 94px;
  top: 213px;
  border: 1px solid #eb0000;
  transform: rotate(-84.94deg);
}

.group-subtitle-2::after {
  content: '';
  display: flex;
  position: absolute;
  width: 1000px;
  height: -21px;
  left: -213px;
  top: 695px;
  border: 1px solid #eb0000;
  transform: rotate(-90deg);
}

.description-cd::after {
  content: '';
  display: flex;
  position: absolute;
  width: 1000px;
  height: -21px;
  left: -454px;
  top: 622px;
  border: 1px solid #ffffff;
  transform: rotate(279deg);
}

.cds::after {
  content: '';
  display: flex;
  position: absolute;
  width: 276px;
  height: -21px;
  left: 930px;
  top: 1266px;
  border: 1px solid #ffffff;
}

.vinyl-disc::after {
  content: "";
  display: flex;
  position: absolute;
  width: 1000px;
  left: -296px;
  top: -652px;
  border: 1px solid rgb(255, 255, 255);
  transform: rotate(279deg);
}


/* linhas do media player */

.realize::after {
  content: '';
  display: flex;
  content: '';
  display: flex;
  position: absolute;
  width: 311px;
  height: -21px;
  left: 63px;
  top: 189px;
  border: 1px solid #ffffff;
  transform: rotate(0deg);
}

.rejection::after {
  content: '';
  display: flex;
  content: '';
  display: flex;
  position: absolute;
  width: 311px;
  height: -21px;
  left: 63px;
  top: 291px;
  border: 1px solid #ffffff;
  transform: rotate(0deg);
}

.shot::after {
  content: '';
  display: flex;
  content: '';
  display: flex;
  position: absolute;
  width: 311px;
  height: -21px;
  left: 63px;
  top: 396px;
  border: 1px solid #ffffff;
  transform: rotate(0deg);
}

.through::after {
  content: '';
  display: flex;
  content: '';
  display: flex;
  position: absolute;
  width: 311px;
  height: -21px;
  left: 63px;
  top: 496px;
  border: 1px solid #ffffff;
  transform: rotate(0deg);
}

.kick::after {
  content: '';
  display: flex;
  content: '';
  display: flex;
  position: absolute;
  width: 311px;
  height: -21px;
  left: 63px;
  top: 596px;
  border: 1px solid #ffffff;
  transform: rotate(0deg);
}



.awords-paragraph1::after {
  content: "";
  display: flex;
  position: absolute;
  width: 576px;
  left: -52px;
  top: -308px;
  border: 1px solid rgb(235, 0, 0);
  transform: rotate(-90deg);
}

.awords-paragraph2::after {
  content: "";
  display: flex;
  position: absolute;
  width: 728px;
  left: -640px;
  top: -258px;
  border: 1px solid rgb(235, 0, 0);
  transform: rotate(266deg);
}